﻿@model LoginModel
@{ Layout = null;}


<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <title>Sports Store</title>
    </head>
    <body>
        <div class="bg-dark text-white p-2 ">
            <span class="navbar-brand ml-2 ">Sports Store</span>
        </div>
        <div class="m-1 p-1 ">
             <div class="text-danger " asp-validation-summary="All"></div>
             <form asp-controller="Account" asp-action="Login" method="post">
                 <div class="form-group">
                     <label asp-for="Name"></label>
                     <div asp-validation-for="Name" class="text-danger"></div>
                     <input asp-for="Name" class="form-control" />
                 </div>
                 <div class="form-group">
                     <label asp-for="Password"></label>
                     <div asp-validation-for="Password" class="text-danger"></div>
                     <input asp-for="Password" type="password" class="form-control" />
                 </div>
                 <button type="submit" class="btn btn-primary ">Login</button>
             </form>
        </div>
    </body>
</html>
