﻿@page "/admin/products/details/{id:long}"


<h3 class="text-center text-white bg-info p-1">Details</h3>

<table class="table table-sm table-striped table-bordered">
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Product.ProductId</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>@Product.Name</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>@Product.Description</td>
        </tr>
        <tr>
            <th>Category</th>
            <td>@Product.Category</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>@Product.Price.ToString("C")</td>
        </tr>
    </tbody>
</table>

<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-primary" href="/admin/products">Back</NavLink>

@code {
    [Inject]
    public IStoreRepository Repository { get; set; }

    [Parameter]
    public long Id { get; set; }

    public Product Product { get; set; }

    protected override void OnParametersSet()
    {
        Product = Repository.Products.FirstOrDefault(p => p.ProductId == Id);
    }

    public string EditUrl => $"/admin/products/edit/{Product.ProductId}";
}
