﻿@page "/admin"

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize] 
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <title>Sports Store Admin</title>
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <base href="/" />
    </head>
    <body>
        <component type="typeof(Routed)" render-mode="Server" />
        <script src="/_framework/blazor.server.js"></script>
    </body>
</html>