﻿@page "/admin/products"
@page "/admin"
@inherits OwningComponentBase<IStoreRepository>


<table class="table table-striped table-sm table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @if (ProductData?.Count() > 0)
        {
            @foreach (Product p in ProductData)
            {
                <tr>
                    <td>@p.ProductId</td>
                    <td>@p.Name</td>
                    <td>@p.Category</td>
                    <td>@p.Price.ToString("C")</td>

                    <td>
                        <NavLink class="btn btn-sm btn-info" href="@GetDetailsUrl(p.ProductId)">
                            Details
                        </NavLink>
                        <NavLink class="btn btn-sm btn-warning" href="@GetEditUrl(p.ProductId)">
                            Edit
                        </NavLink>
                        <button class="btn btn-danger btn-sm" @onclick="@(e => DeleteProduct(p))">
                            Delete
                        </button>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">
                    NO Products
                </td>
            </tr>
        }
    </tbody>
</table>

<NavLink class="btn btn-primary" href="/admin/products/create">Create</NavLink>

@code{
    public IStoreRepository Repository => Service;
    public IEnumerable<Product> ProductData { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await UpdateData();
    }

    public async Task UpdateData()
    {
        ProductData = await Repository.Products.ToListAsync();
    }

    public async Task DeleteProduct(Product p)
    {
        Repository.DeleteProduct(p);
        await UpdateData();
    }

    public string GetDetailsUrl(long id) => $"/admin/products/details/{id}";

    public string GetEditUrl(long id) => $"/admin/products/edit/{id}";
}



