﻿@page
@model UsersModel
@using Microsoft.AspNetCore.Identity 
@using Microsoft.AspNetCore.Authorization 
@{
}


<h3 class="text-white bg-primary text-center p-2 ">Admin users</h3>

<table class="table table-striped table-bordered table-sm">
    <tbody>
        <tr>
            <th>User</th>
            <td>@Model.AdminUser.UserName</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>@Model.AdminUser.Email</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>@Model.AdminUser.PhoneNumber</td>
        </tr>
    </tbody>
</table>


@functions{

    [Authorize]
    public class UsersModel : PageModel
    {
        private UserManager<IdentityUser> userManager;

        public UsersModel(UserManager<IdentityUser> user)
        {
            userManager = user;
        }

        public IdentityUser AdminUser { get; set; }

        public async Task OnGetAsync()
        {
            AdminUser = await userManager.FindByNameAsync("Admin");
        }
    }
}