﻿@model IEnumerable<string>
@{
}

<a class="btn mb-2 btn-outline-secondary w-100" action="Index" 
   asp-controller="Home" asp-route-category="">
    Home
</a>
@foreach(string category in Model)
{
    <a class="btn mb-2  w-100
       @(category== ViewBag.SelectedCategory?"btn-primary":"btn-outline-secondary")"
       asp-action="Index" asp-controller="Home" asp-route-category="@category"
       asp-route-productPage="1">@category
    </a>
}
