﻿@model ProductListViewModel
@{
}

<br/>
<h4>Welcome to Sport Stores</h4>
<div class="row">
    @foreach (var item in Model.Products)
     {
        <partial name="ProductSummary" model="item"/>
     }
</div>
<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"page-url-category="@Model.CurrentCategory"class="btn-group pull-right m-1"></div>
