﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <title>Sport Store</title>
</head>
    <body>
        <div class="bg-dark text-white p-2">
            <div class="container-fluid">
                <div class="col navbar-brand ml-2">Sports Store</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
            
        </div>
        <div class="row m-1 p-1" >
            <div class="col-3" id="categories">
                <vc:navigation-menu />
            </div>
            <div class="col-9">
                @RenderBody()
            </div>
        </div>
    </body>
</html>