﻿@model Product
@{
}
<div class="card m-1 p-1">
    <div class="bg-success p-1">
        <h4>
            @Model.Name
            <span class="badge rounded-pill bg-primary" style="float:right">
                <small>@Model.Price.ToString("C")</small>
            </span> 
        </h4>
    </div>
    <form id="@Model.ProductId" asp-page="/cart" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <span class="card-text p-1">
            @Model.Description
            <button type="submit" class="btn btn-success pull-right" style="float:right">
                Add To Cart
            </button>
        </span>
    </form>
</div>