﻿
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <title>Sport Store</title>
    </head>
    <body>
        <div class="bg-dark text-white p-2">
            <span class="navbar-brand ml-2">Sports Store</span>
        </div>
        <div class="m-1 p-1">
            @RenderBody()
        </div>
    </body>
</html>

