﻿@page
@*@model SportStore.Stores.Pages.CompletedModel*@
@{
}

<div class="text-center">
    <h3>Thanks for your patronage!</h3>
    <p>Thanks for completing your #@OrderId</p>
    <p>Your items will be shipped as soon as possible.</p>
    <a class="btn btn-primary" asp-controller="Home">Return to Store</a>
</div>


@functions{
    [BindProperty(SupportsGet =true)]
    public string OrderId { get; set; }
}