﻿@page
@model SportStore.Stores.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width= device-width" />
        <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
        <title>Sports Store</title>
    </head>
    <body>
        <div class="container bg-dark">
            <h3 class="text-center text-danger">Error</h3>
            <p class="text-white text-center ">An Error occured while processing your reques.</p>
            <a asp-action="Home" class="btn btn-primary">Go to Home</a>
        </div>
</body>
</html>