﻿@model Order
@{
}

<h2>Checkout Now </h2>
<p>Enter your details and we'll Ship your Orders immediately.</p>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Checkout" method="post">
    <h4>Ship to</h4>
    <div class="form-group">
        <label>Name:</label>
        <input asp-for="Name" type="text" class="form-control" />
    </div>
    <h4>Address</h4>
    <div class="form-group">
        <label>Line1:</label>
        <input asp-for="Line1" class="form-control" />
    </div>
    <div class="form-group">
        <label>Line2:</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label>City:</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group">
        <label>State:</label>
        <input asp-for="State" class="form-control" />
    </div>
    <div class="form-group">
        <label>Zipcode:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label>Country:</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <h4>Option</h4>
    <div class="checkbox">
        <label>
            <input asp-for="GiftWrap" /> Gift Wrap these Item(s)
        </label>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary" value="Complete Order" />
    </div>
</form>